<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiTrigesimaSextaApp"
        tools:targetApi="31">

        <!-- Actividad Principal - Selección Cliente/Servidor -->
        <activity
            android:name=".ActividadPrincipalMiTrigesimaSextaApp"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad como Cliente Bluetooth -->
        <activity
            android:name=".actividades_secundarias.ActividadComoClienteBluetooth"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Actividad como Servidor Bluetooth -->
        <activity
            android:name=".actividades_secundarias.ActividadComoServidorBluetooth"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Actividad de Escaneo (provista por librería comunicaciones.aar) -->
        <activity
            android:name="com.curso_simulaciones.comunicaciones.ActividadEscaneoDispositivos"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

    </application>

    <!-- Permiso para muestreo alto de los sensores a partir de Android 12 -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <!-- Permisos adicionales para usar bluetooth antes de Android 12 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Permisos adicionales para usar bluetooth a partir de Android 12 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

</manifest>