<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curso_simulaciones.mivigesimaprimeraapp">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />

    <application
        android:allowBackup="true"
        android:label="MiVigesimaPrimeraApp"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">

        <!-- Actividad lanzadora -->
        <activity
            android:name="com.curso_simulaciones.mivigesimaprimeraapp.ActividadPrincipalMiVigesimaPrimeraApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad controladora -->
        <activity
            android:name="com.curso_simulaciones.mivigesimaprimeraapp.controlador.ActividadControladora"
            android:exported="false" />

    </application>

</manifest>